.root{
    -fx-background-color: #C4D7B2;
}

#lineChartTitle{
    -fx-font-size: 15px;
    -fx-font-weight: lighter;
}

#tableLabel{
    -fx-font: 16px;
    -fx-font-weight: bold;
}

#tableView{
    -fx-background-color: #9AC5F4;
    -fx-font-size: 10px;
}

